@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  width: 375px;
  height: auto;
  font-family: "Poppins", sans-serif;
  background-color: var(--off-white);
}

/* Global settings start here */

:root {
  --light-blue: #7f8cff;
  --logo-color: #6070ff;
  --header-color: #172b4d;
  --text-color: #344563;
  --off-white: #e5e5e5;
  --hover-color: #6070ff;
  --card-color: #fff;
  --card-border: #dfe1e6;
  --work-details: #7a869a;
  --work-tools: #ebebff;
  --l-color: #000;
  --box-color: #f7f7f9;
  --portfolio-color: #f7f7f9;
  --canopy-color: #344563;
  --active-color: #2230d2;
}

.container {
  padding: 1rem 1.5rem;
 
}

h1 {
  font-size: 40px;
  font-weight: 900;
  line-height: 49px;
  color: var(--header-color);
}

h2 {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

h3 {
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
}

h4 {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}

p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--text-color);
}

a {
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  color: var(--light-blue);
  text-decoration: none;
  cursor: pointer;
}

ul li {
  list-style: none;
}

/* Global settings End here */

/* Header-section starts here */

.mobile-status {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 18px;
}

.logo {
  color: var(--logo-color);
  cursor: pointer;
}

.logo:hover {
  color: var(--hover-color);
}

.menu-bar {
  float: right;
  cursor: pointer;
}
.menu-list ul{
  display:none;
}

/* Header-section Ends here */

/* Home-page Starts here */
.hero-section {
  width: 100%;
  height: auto;
  background-image: url("./images/header-background-mobile.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-bottom:150px;
  position: relative;
  z-index: 1000;
 
}

.background-shapes {
  z-index: 2;
  position: absolute;
}

.home-title {
  margin-top: 88px;
  z-index: 3;
}

.home-title p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.social-icons {
  display: flex;
  margin-top: 1rem;
  gap: 20px;
  cursor: pointer;
}

/* Home-page Ends here */

/* work-section starts here */

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
}

#work-section {
  margin-top: -70px;
  height: auto;
  padding-top: 160px;
  padding-bottom: 160px;
  background: var(--portfolio-color);
 
}

.card {
  width: 327px;
  height: 568px;
  background: var(--card-color);
  border: 1px solid var(--card-border);
  border-radius: 16px;
  padding: 15px;
  margin-bottom: 4rem;
}

.card-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.card-content h1 {
  font-size: 28px;
  line-height: 38px;
  margin-top: 0.5rem;
}

.card-content h3 {
  color: var(--canopy-color);
}

.card-content a {
  color: var(--work-details);
}

.card-content ul {
  float: right;
}

.work-details {
  display: flex;
  align-items: center;
  gap: 0.5em;
  margin-top: 0.5rem;
}
.work-details a{
  color: var(--work-details);
}
.bullet-point {
  background: var(--work-details);
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.card-content p {
  margin-top: 1rem;
}

.work-tools{
  margin-top: 0.2rem;
}

.tools {
  color: var(--logo-color);
  background: var(--work-tools);
  border: none;
  outline: none;
  padding: 8px 12px;
  border-radius: 8px;
  font-size: 14px;
}

button {
  margin-top: 1rem;
  padding: 9px 20px;
  color: var(--logo-color);
  border: 1px solid var(--logo-color);
  background: var(--card-color);
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background: var(--hover-color);
  color: var(--card-color);
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
}

/* About-section starts here */
#about-section {
  width: 375px;
  height: 1263;
  margin-top: -70px;
  background-image: url("./images/about-base.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.about-title h1 {
  margin-top: 100px;
}

.about-title p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.languages-section{
  padding-bottom: 3rem;
}

.languages-section h3 {
  color: var(--l-color);
  margin-top: 2.5rem;
}

.languages-title li {
  display: flex;
  justify-content: space-between;
}

.languages-title img {
  margin-top: 2.7rem;
  margin-right: 2rem;
}

.languages-title h3 {
  margin-bottom: 2rem;
}

.bottom-line {
  border-bottom: 1px solid var(--card-border);
}

.languages-box {
  background: var(--box-color);
  margin-top: 1rem;
  padding: 10px;
}

.languages-box li {
  display: flex;
  gap: 1rem;
}

.about-title {
  padding-bottom: 88px;
}

.active {
  background: var(--active-color);
  color: var(--card-color);
}

/* About-section ends here */

/* Contact-section starts here */

#contact-section{
  background-image: url("./images/contact-bkg.png");
  background-repeat: no-repeat;
  background-size: cover;
  height:779px;
  margin-top: -3rem;
}
.contact-details{
  display:flex;
  flex-direction: column;
  align-items:center;
  padding-top: 100px;
  text-align: center;
  margin-bottom: 24px;
}
.contact-details h1{
  color: var(--card-color);
}
.contact-details p{
color: var(--card-color);
 margin-top:1rem;
 line-height: 28px;
 font-size: 20px;
}

.contact-form {
  display: flex;
}

.form,
.contact-form-input,
.message {
  width: 100%;
  font-size: 0.7rem;
}

.contact-form-input,
.message {
  border-radius: 0.4rem;
  margin-top: 20px;
  border: 1px solid #cfd8dc;
  font-family: "Poppins", sans-serif;
}

.contact-form-input {
  padding: 0.75rem;
  width: 300px;
}

#abt-btn {
  display: flex;
  cursor: pointer;
  margin-top: 1rem;
}

/* ================================= media queries ================================= */
/* Desktop version */

@media (min-width: 768px) {
  body {
  width: 100%;
  height: auto;
  background-color: none;
  }
  .container {
  padding: 1rem 10%;
  }
  .menu-bar {
    display:none
  }
  .hero-section {
    background: url("./images/desktop-base.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    min-width: 768px;
    height: auto;
    margin-bottom:10px;
  }
  .background-shapes {
  display:none;
  }
  .home-title h1{
    margin-top: 20%;
    font-size: 38px;
    line-height: 40px
  }
  .home-title p{
    font-size:18px;
    width: 90%;
    line-height: 23px;
}
.navbar{
  margin-top: 2rem;
}
.menu-list ul{
  display:flex;
  font-size: 13px;
  
}
.menu-list li{
  margin-left:20px;
}
.card{
  min-width: 690px; 
  height: 327px;
  display: flex;
  flex-direction: column;
  
}
.row{
display: flex;
flex-direction: row;
gap:20px;
  
}
.col-1, .col-2{
  flex-basis: 50%;
  padding-top: 12px;
}
.col-1 img{
width: 350px
}
.work-details a{
  color: var(--work-details);

}
.col-2 h1{
  font-size: 30px;
  line-height: 32px;
}
.col-2 br{
  display:none;
}
.col-2 p{
  margin-top: 10px;

}
.col-2 button{
  padding: 8px 15px;
  margin-top: 12px;
}

/* About section starts here*/

#about-section {
  background-image: url("./images/dsk-about.png");
  width: 100%;
  margin-top: -150px;
  padding-bottom: 170px;
 
}
.about-title br{
  display: none;
}
.about-title .row{
gap:30px;
}

.left, .right{
  flex-basis: 50%;
}
.about-title h1 {
  margin-top:50px;
}
.languages-box {
  margin-top: 0.5rem;
  padding: 2px;
}
.languages-section{
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.languages-title h3{
 margin-bottom: 15px;
}

/* Contact section starts here*/

#contact-section{
   background-image: url("./images/desktop-contact.png");
  margin-top: -8rem;
  width: 100%;
  height:690px;

}
.contact-details h1{
  padding-top: 4rem;
}
.contact-details p{
  padding-left: 19%;
  padding-right: 19%;
  margin-bottom: 30px ;
}
.form,
.contact-form-input,
.message {
  width: 500px;
}
.contact-details .primary-btn {
margin-left: 35%;}
}


@media (min-width: 1200px) {

  .logo h2{
    font-size: 24px;
  }

.home-title h1{
  font-size: 48px;
  line-height: 60px;
}
.home-title p{
  font-size: 20px;
  line-height: 28px;
  width: 95%;

}
.card{
  min-width: 790px; 
  height: 344px;
}
.col-1 img{
width: 390px

}
.menu-list ul{
  font-size: 15px;
}
}