@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  width: 375px;
  height: auto;
  font-family: "Poppins", sans-serif;
}

/* Global settings start here */

:root {
  --light-blue: #7f8cff;
  --logo-color: #6070ff;
  --header-color: #172b4d;
  --text-color: #344563;
}
.container {
  padding: 1rem 1.5rem;
}
h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  color: var(--header-blue);
}
h3 {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}
h4 {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}
p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--text-color);
}
/* Global settings End here */

/* Header-section starts here */

.mobile-status {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero-section {
  width: 100%;
  height: auto;
  background-image: url(./images/header-background-mobile.png);
  background-repeat: no-repeat;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 48px;
}
.logo {
  color: var(--logo-color);
}
.menu-bar {
  width: 100%;
}
/* Header-section starts here */
